.footer {
    max-width        : 100%;
    margin           : 0 auto;
    padding          : 15px 0;
    align-items      : center;
    padding-top      : 80px;
    /* padding-bottom: 140px; */
    color            : #fff;
}

.footer-bg-top img {
    width: 100vw;
}

.footer-container {
    display        : flex;
    justify-content: space-around;
    align-items    : flex-start;
    padding        : 60px 20px;
    background     : var(--very-dark-cyan);
    gap            : 30px;
}

.footer-contact img {
    margin-bottom: 30px;
}

.p-contact {
    max-width    : 50ch;
    font-size    : 1rem;
    line-height  : 1.4;
    text-align   : left;
    margin-bottom: 30px;
    color        : #fff;
}

.footer-contact ul {
    margin-bottom: 60px;
}

.footer-contact li {
    margin-bottom: 20px;
}

.footer-contact li a {
    display    : flex;
    align-items: center;
    gap        : 20px;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    line-height: 0;
    color      : #fff;
}

.footer-contact li img {
    width : 15px;
    margin: 0;
}

.social-networks {
    display        : flex;
    justify-content: start;
    align-items    : flex-start;
    gap            : 5px;
}

.social-networks img {
    width      : 50px;
    margin-left: -10px;
}

.h1-newsletter {
    font-family   : "Poppins", sans-serif;
    font-size     : 2rem;
    font-weight   : 700;
    text-transform: uppercase;
    margin-bottom : 30px;
    color         : #fff;
}

.p-newsletter {
    font-family  : "Open sans", sans-serif;
    font-weight  : 400;
    line-height  : 1.4;
    text-align   : left;
    max-width    : 50ch;
    margin-bottom: 30px;
    color        : #fff;
}

form {
    display: flex;
    gap    : 30px;
}

form input {
    width        : 60%;
    height       : 50px;
    border-radius: 6px;
    border       : none;
    font-size    : 1rem;
    padding      : 0 10px;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline   : 0;
}

button {
    width         : 40%;
    height        : 50px;
    border-radius : 6px;
    padding       : 0 15px;
    font-family   : "Open sans", sans-serif;
    font-weight   : 700;
    font-size     : 1rem;
    line-height   : 1.4;
    text-transform: capitalize;
    color         : #fff;
    cursor        : pointer;
    border        : none;
    background    : var(--pink);
}

button:hover {
    background: var(--light-pink);
}

@media(max-width: 750px) {
    .footer-container {
        flex-direction: column;
        padding       : 20px;
        gap           : 80px;
    }

    .footer-newsletter {
        order      : 0;
        padding-top: 60px;
        padding    : 60px 20px 20px 20px;
    }

    .footer-contact {
        order  : 1;
        padding: 60px 20px 20px 20px;
    }

    .footer-contact img {
        margin-bottom: 30px;
    }
}

@media(max-width: 360px) {
    .footer-newsletter form {
        flex-direction: column;
        align-items   : center;
    }

    .footer-newsletter form input {
        width: 100%;
    }

    .footer-newsletter form button {
        width     : 50%;
        align-self: flex-end;
    }

    .h1-newsletter {
        font-size    : 1.5rem;
        margin-bottom: 10px;
    }

    .p-newsletter {
        font-size  : 1rem;
        line-height: 1.6;
    }

    .h1-newsletter,
    .p-newsletter {
        text-align: start;
    }

    .footer-contact {
        order: 1;
    }

    .p-contact {
        text-align : start;
        font-size  : 1rem;
        line-height: 1.6;
    }

    .footer-contact img {
        width: 200px;

    }
}