body,
h1,
h2,
p,
a,
ul,
li {
    margin : 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display  : block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    /* ## Colors */

    /* ### Primary */
    --pink      : hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red : hsl(0, 100%, 63%);
    --gray      : #878787;

    /* ### Neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color      : var(--very-dark-cyan);
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color      : #003E3E;
}