.grow-together {
    max-width  : 100%;
    margin     : 0 auto;
    align-items: center;
}

.grow-bg-top img {
    width: 100vw;
}

.grow-bg-top-responsive {
    width  : 100vw;
    display: none;
}

.grow-container {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #F6FBFF;
    padding         : 60px;
    gap             : 60px;
}

.grow-together-content h1 {
    font-size    : 2rem;
    margin-bottom: 20px;
}

.grow-together-content p {
    max-width  : 60ch;
    line-height: 1.4;
    font-size  : 1rem;
}

.grow-together-image {
    display     : flex;
    justify-self: center;
    height      : 600px;
    width       : 600px;
}

.grow-together-image img {
    justify-content: center;
    align-content  : center;
}

@media(max-width: 780px) {
    .grow-container {
        flex-direction    : column;
        align-items       : center;
        justify-content   : center;
        /* padding        : 40px; */
        padding-top       : 80px;
    }

    .grow-together-content {
        order: 1;
    }

    .grow-together-image {
        margin-bottom: 80px;
    }

    .grow-together-content h1,
    p {
        text-align: center;
    }

    .grow-together-content p {
        font-size    : 1.25rem;
        margin-bottom: 80px;
    }

    .grow-bg-top {
        display: none;
    }

    .grow-bg-top-responsive {
        display: block;
    }
}

@media(max-width: 650px) {
    .grow-together-image {
        display: none;
    }
}