.menu {
    display        : flex;
    max-width      : 1440px;
    margin         : 0 auto;
    padding        : 15px 0;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 80px;
    padding-bottom : 140px;
}

.menu-logo img {
    width : 150px;
    height: 25px;
}

.header-button {
    border       : 2px solid var(--light-pink);
    border-radius: 20px;
    padding      : 5px 15px;
    color        : var(--light-pink);
}

.header-button:hover {
    background: var(--pink);
    color     : #fff;
    border    : var(--pink);
}