.menu-bg {
    margin: 0 40px;
}

.menu {
    display        : flex;
    max-width      : 1440px;
    margin         : 0 auto;
    padding-top    : 80px;
    padding-bottom : 140px;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 80px;
    padding-bottom : 140px;
}

.header-button {
    border       : 2px solid var(--light-pink);
    border-radius: 20px;
    padding      : 5px 25px;
    font-family  : "Open Sans", sans-serif;
    color        : var(--light-pink);
}

.header-button:hover {
    background: var(--pink);
    color     : #fff;
    border    : var(--pink);
}

@media(max-width: 780px) {
    .menu {
        padding-bottom: 200px;
    }
}