/* RESET */
body,
h1,
h2,
p,
a,
li {
    margin : 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display  : block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* ---------------------------------------------------- */

.menu {
    display        : flex;
    max-width      : 1200px;
    margin         : 0 auto;
    padding        : 15px 0;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
}

.menu-logo img {
    width : 150px;
    height: 30px;
}